@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
}

:root {
  --colorRed: #ff0000;
}

* {
  margin: 0;
  padding: 0;
}

.navigation {
    height: 70px;
    background: #262626;
}

.brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand a, .brand a:visited {
    color: var(--colorRed);
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 15px;
    line-height: 70px;
    background: #262626;
    color: var(--colorRed);
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:visited:hover {
    background: #ff0000;
    color: #ffffff;
}

nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: " ▾";
}

nav ul li ul li {
    min-width: 240px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 13px rgb(0 0 0 / 15%);
}

/* dispositivos móveis */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #262626;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

input{
    height: 20px;
    outline: unset;
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos */
}

.form-button {
    width: 100px; /* Define uma largura menor para o botão */
}

.form-label{
    width: 300px;
    margin-bottom: 0px;
}

.form-input{
    width: 300px;
    margin-bottom: 10px;
}

.form-select{
    width: 300px;
    margin-bottom: 10px;
}

/* Opcional: Ajusta o estilo do formulário para uma aparência melhor */
form {
    max-width: 320px; /* Limita a largura total do formulário */
    margin: 0; /* Centraliza o formulário na página */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.article-cadastro {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.form-button-cadastro {
    height: 24px;
    width: 300px; /* Define uma largura menor para o botão */
}

.form-label-cadastro{
    font-size: 14px;
    width: 300px;
    margin-bottom: 0px;
}

.form-input-cadastro{
    width: 300px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 2px solid #262626;
}

.form-select-cadastro{
    width: 300px;
    margin-bottom: 10px;
}

/* Opcional: Ajusta o estilo do formulário para uma aparência melhor */
.form-cadastro {
    max-width: 500px; /* Limita a largura total do formulário */
    margin: 0 auto; /* Centraliza o formulário na página */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: block; /* Centraliza os elementos */
}

.titulo-form{
    padding: 5px;
}

.form-cadastro-titulo{
    text-align: center;
}

.ATA-LOGO{
    width: 100px;
}